.p-4{
    color: black;
}
.maincolor{
    color:#28a745;
}
.btnText{
    color: white;
    font-weight: 700;
    font-size: large;
}
.row{
    gap: 20px;
    justify-content: space-evenly;
}
.analyticsbox{
    max-width: 17rem;
}