.page_404{
    padding: 4-px 0;
    background: #fff;
}
.page_404 img{width: 100%;}

.four_zero_four_bg{
    background-image: url("https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif");
    height: 400px;
    background-position: center;
}
.four_zero_four_bg h1{
    font-size: 80px;
}
.four_zero_four_bg h3{
    font-size: 80px;
}

.link_404{
    color: #EBBD4C !important;
    padding: 10px 20px;
    border:1px solid #EBBD4C;
    background-color: white;
    margin: 20px 0;
    display: inline-block;
}
.constant_box_404{
    margin-top: -50px;
}
.col-sm-10{
    min-width:99% !important;
}
.container404{
    max-width: 98% !important;
}